@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(244,161,255,1) 100%);
    ;
  }
  
  header a {
    text-decoration: none;
    background-color: #3f3d56;
    color: white;
    padding: 0.7rem 2rem;
    border: 2px solid;
    border-top: none;
    border-radius: 0 0 8px 8px;
    position: fixed;
  }
  
  header a:hover {
    text-decoration: none;
    color: #CA8CE8;
  }


section {
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(244,161,255,1) 100%);

}

.trabalho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 3rem;
}

h5{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.esquerda {
    display: flex;
    margin: 1rem;
}

.esquerda .img {
    display: flex;
    justify-content: center;
    margin: 1px solid white;



}
.esquerda img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);

}

.esquerda video {
    border-radius: 20px;
    box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);
    width: 100%;
}


.esquerdaDesk img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);

}


.esquerdaDesk video {
    border-radius: 20px;
    box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);
    width: 100%;
}

.direita p {
    width: 80%;
    font-size: 1.3rem;
    color: #361940;
    text-align: center;
    margin-left: 3rem;
   
}

.direita{
    display: block;
    justify-content: center;
    align-items: center;
}

.direita a {
    display: block;
    background: #3f3d56;
    margin: 1rem 8rem;
    font-size: 1rem;
    padding: 0.5rem 0;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(189, 170, 217);
    box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);
}


.direita a:hover {
    background: rgb(228, 198, 232);
    color: #3f3d56;
}

.direita button {
    display: block;
}
.site {
    padding: 1rem 3rem ;
}


.footer {
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(244,161,255,1) 100%);
  }
  
  .footer p {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 14px;
  }

  .mobile {
      display: none;
  }

  
  
  @media only screen and (max-width: 800px) and (min-width: 300px) {

    .trabalho {
        display: block;
        margin: 0; 
    }

    .esquerda img {

        width: 120%;
        margin-top: 1rem;
        
    }


    header a {
        z-index: 1000;
        padding: 0.3rem 1rem;
      }

      .direita p {
          width: 100%;
          margin: 0;
      }

      .direita a {
        margin: 1rem;
      }

      .direita h5 {
          font-size: 2rem; 
          text-align: center;
      }

      video {
          width: 120%;
      }

      .esquerda {
        justify-content: center;
      }

      .footer p {
          font-size: 12px;
      }

      .esquerdaDesk  {

        display: none;

      }

      .mobile {
        display: block;
       
    }

    .mobile video {
        border-radius: 20px;
        box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);
        width: 100%;
    }

    .mobile img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);
    }
    
  }