@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

.topo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(244,161,255,1) 100%);

}

.navbar {
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(244,161,255,1) 100%);
}

.navbar ul li a {
    margin: 0 3rem;
}

.navbar ul li a:hover {
    color: #3f3d56!important;
    font-weight: bold;
}

.navbar-collapse {
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
} 


.col1 h1 {    
    margin: 7rem 3rem 0.2rem 3rem;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 400;
    color: #f2e7ff
}


.col1 p {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #292839;
    margin: 1rem 0;
}

.col1 a {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #3f3d56;
    margin: 2rem 14rem;
    padding: 0.6rem;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(189, 170, 217);
    box-shadow: 10px 10px 9px -7px rgba(97,97,97,1);


}

.col1 a:hover{
    background: rgb(228, 198, 232);
    color: #3f3d56;
}

.col2 {
    margin: 2rem 0;
}

.col2 img {
    width: 90%;
}

#sobre {
    font-size: 3.5rem;
    color: #b48bf2;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.sobre {
    background: #3f3d56;
}

#containerSobre {
    padding: 5rem;

}
.texto {
    color: #f0dbf7
}

i {
    text-align: center;
}

.fa, .fas {
    font-weight: 900;
    font-size: 1.5rem;

}

#redes:hover {
    color: rgba(244,161,255,1);

    opacity: 0.9;
}

#redes {
    color: #b48bf2;
}

.card-img-top {
    background: linear-gradient(131deg, rgba(202,140,232,1) 0%, rgba(141,46,196,1) 100%);
    padding: 1rem;
    height: 15rem;
}

.card-img-center {
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(157,46,196,1) 100%);
    height: 15rem!important;
    padding: 1rem;

}

.card-img-bottom {
    background: linear-gradient(90deg, rgba(180,139,242,1) 0%, rgba(90,0,117,1) 100%);
    height: 15rem!important;
    padding: 1rem;
    border-radius: 0;
}

.popup {
	background: rgba(100, 100, 100, 0.5);
	position: fixed;
	display: none;
	z-index: 5000;
	height: 100%;
	width: 100%;
	left: 0;
    top: 0;
}

.popupdois {
	background: rgba(100, 100, 100, 0.5);
	position: fixed;
	display: none;
	z-index: 5000;
	height: 100%;
	width: 100%;
	left: 0;
    top: 0;
}

.popuptres {
	background: rgba(100, 100, 100, 0.5);
	position: fixed;
	display: none;
	z-index: 5000;
	height: 100%;
	width: 100%;
	left: 0;
    top: 0;
}


.botao {
    background: linear-gradient(131deg, rgba(202,140,232,1) 0%, rgba(141,46,196,1) 100%);
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 18px 30px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .fechar {
    background: linear-gradient(131deg, rgba(202,140,232,1) 0%, rgba(141,46,196,1) 100%);
    border-radius: 4px;
    border: 0;
    padding: 18px 30px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .fechar:hover {
    background: rgba(160,113,231,1);
  }

  .fechardois {
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(157,46,196,1) 100%);
    border-radius: 4px;
    border: 0;
    padding: 18px 30px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .fechardois:hover {
    background: rgba(160,113,231,1);
  }


  .fechartres {
    background: linear-gradient(90deg, rgba(180,139,242,1) 0%, rgba(90,0,117,1)100%);
    border-radius: 4px;
    border: 0;
    padding: 18px 30px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .fechartres:hover {
    background: rgba(160,113,231,1);
  }


  .botao:focus {
    outline: none;
  }
  .botao:hover {
    background: linear-gradient(90deg, rgba(160, 113, 231, 0.46) 0%, rgba(157, 46, 196, 0.21) 100%);
    color: #292839
  }

  .popup > div {
    max-width: 600px;
    width: 70%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #FFFFFF;
    padding: 30px;
    z-index: 5001;
    text-align: center;
    border: 5px solid #ca8ce8;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }

  
  .popupdois > div {
    max-width: 600px;
    width: 70%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #FFFFFF;
    padding: 30px;
    z-index: 5001;
    text-align: center;
    border: 5px solid  rgba(160,113,231,1);
    ;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }

  
  .popuptres > div {
    max-width: 600px;
    width: 70%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #FFFFFF;
    padding: 30px;
    z-index: 5001;
    text-align: center;
    border: 5px solid rgba(90,0,117,1);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }



  .titulopopup {
      color: #ca8ce8;
  }

  .titulopopupdois {
    color: #9d2ec4;
}
.titulopopuptres {
    color: rgba(90,0,117,1);
}

  .botaoDois {
    background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(157,46,196,1) 100%);
    border-radius: 0 0 4px 4px;
    border: 0;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px 30px;
  }


.botaoDois:hover {
    background: linear-gradient(90deg, rgba(160, 113, 231, 0.46) 0%, rgba(157, 46, 196, 0.21) 100%);
    color: #292839

}

.botaoTres {
    background: linear-gradient(90deg, rgba(180,139,242,1) 0%, rgba(90,0,117,1)100%);
    border-radius: 0 0 4px 4px;
    border: 0;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 18px 30px;
}

.botaoTres:hover {
    background: linear-gradient(90deg, rgba(160, 113, 231, 0.46) 0%, rgba(157, 46, 196, 0.21) 100%);
    color: #292839
}

.clique {
    color: #9d2ec4;
}

.clique:hover{
    text-decoration: none;
    color: #b48bf2;
}
#contact {
    background-color: white;
}

#sobrecontato {
    font-size: 3.5rem;
    color: #b48bf2;
    margin: 0 3rem;
}

#contact label {
    color: #FFF;
}

#sendMessageButton {
    background-color: #151934;
    border: 1px solid #151934;
}

#sendMessageButton:hover {
    background-color: #b48bf2;
    border: 1px solid #b48bf2;
    color: #151934

}

.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

textarea {
    resize: none;
}

.dir {
    display: flex;
    align-items: center;
}

.dir img {
    width: 90%;
}

.footer {
  background: linear-gradient(90deg, rgba(160,113,231,1) 0%, rgba(244,161,255,1) 100%);
}

.footer p {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 14px;
}